# Ignore SQLite database
db.sqlite3

# transformers 모델
models/distilbert/

# 가상 환경 디렉토리
venv/

# env
.env

# 파이썬 캐시 파일
__pycache__/
*.py[cod]
*.pyo

# IDE/편집기 관련 파일
*.vscode/
*.idea/

# macOS 파일
.DS_Store

# Windows 파일
Thumbs.db

# 특정 파일이나 디렉토리를 추가하고 싶을 때
# node_modules/
# logs/
# *.log
